URxvt*saveLines:            10000
URxvt*urgentOnBell:       true
URxvt*cutchars:           BACKSLASH '"'&()*,;<=>?@[]^{|}
URxvt*scrollBar:          true
URxvt*thickness:          5
URxvt*scrollBar_right:    true
URxvt*scrollstyle:        plain
URxvt.font: xft:Monospace:size=12
URxvt.iso14755: false
URxvt.iso14755_52: false




! Tango color scheme
! ------------------
!*foreground:       #eeeeec
!*background:       #2e3436
*foreground:       #839496
*background:       #002b36
*cursorColor:      #8ae234
*colorUL:          #8ae234
*underlineColor:   #92659a
! - Aluminium -
*color0:           #2e3436
*color8:           #888A85
! - Scariet Red -
*color1:           #cc0000
*color9:           #ef2929
! - Chameleon -
*color2:           #4e9a06
*color10:          #8ae234
! - Butter -
*color3:           #edd400
*color11:          #fce94f
! - Sky Blue -
*color4:           #3465a4
*color12:          #729fcf
! - Plum -
*color5:           #92659a
*color13:          #c19fbe
! - Cyan -
*color6:           #07c7ca
*color14:          #63e9e9
! - Aluminium 2 -
*color7:           #d3d7cf
*color15:          #eeeeec
